*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
header{ 
    font-size: 1em;
    width: 100%;
    max-width: 500px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}
h5{
    font-size: 1.5em;
}
h6{
    font-size: 1em;
}
body{
    background-color: antiquewhite;
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-self: unset;
    align-items: center;
}
.cab{
    width: 100%;
    max-width: 500px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}
.conteiner{
    width: 100%;
    max-width: 500px;
    align-items: center;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}
#conteiner-head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2em 0;
    width: 100%;
    max-width: 500px;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.title::before{
    content: '';
    width: 95%;
    height: 1px;
    background-color: #ccc;
    margin: -1em 0 2em ;
}
article div div{
    display: flex;
    flex-direction: row;
    
}
#nombre{
    margin: .1em .8em;
}
article div div div img{
    width: 30%;
    border-radius: 100%;
    margin: 0 0 0 3em;
}
#point{
    width: 70%;
    margin: 10px;
    height: 10px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: center;
}
.caja{
    padding: 2px;
    background-color:#ccc;
}
.discovery{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    background-color: #ccc;
}
#subtitle{
    padding-left: 1em;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
}
#show{
    margin-left: 8em;
    background-color: aliceblue;
}
#discobery{
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.conteiner-discobery{
    padding: 1%;
    margin-inline-start: 1px; margin-top: 1px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-discobery{
    
    width: 100%;
    border-radius: 100%;
}
footer{
    margin-bottom: auto;
    margin-top: auto;
    color: rgba(168, 168, 168, 0.74);
    display: block;
    justify-content: end;
    align-self: end;
    margin-right: 2em;
    margin-bottom: 1em;
}
.feed{
    width: auto;
    height: inherit;
    
}
#feed{
    height: 30em;
    width: auto;
}
article{
    
    margin-bottom: 4em;
}